body {
  width: 100%;
  color: #000;
  background-color: #a5c8e4;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --darkgrey: #6c696f;
  --lightgrey: #dedcdb;
  --orange: rgb(238, 135, 55);
}
