@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;700&display=swap');

body {
  width: 100%;
  color: #000;
  background-color: var(--palegrey);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* useful variables */
:root {
  --textgrey: #888;
  --grey: #e8e8e8;
  --palegrey: #f5f6fa;
  --white: #fff;
  --black: #121212;
  --ringtop: #307bbe;
  --ringbottom: #379cf6;
  --bktxtblue: #4386bf;
  --azure: #0290ff;
  --bklstfont: 'Roboto Slab', serif;
  --formfont: 'Montserrat', sans-serif;
}

/* Main website container the root */
#root {
  display: flex;
  align-items: center;
  background-color: var(--palegrey);
}

/* contents */
.App {
  width: 80%;
  margin: 4em auto 4em auto;
  border-radius: 3px;
  box-shadow: 30px 30px 90px #888888a8;
  background-color: #fafafa;
  padding-bottom: 16rem;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.navbar {
  display: flex;
  height: 5.938rem;
  background-color: var(--white);
  gap: 2.6rem;
  align-items: center;
  padding: 0 4.25rem;
}

.mainhg {
  width: 15rem;
  height: 2.313rem;
  font-family: var(--formfont);
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

.navbook {
  width: 3.688rem;
  height: 1rem;
  font-family: var(--bklstfont);
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--black);
}

.navcate {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: var(--bklstfont);
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--black);
}

/* books area */
.allBooks {
  display: flex;
  flex-direction: column;
  margin: 2.313rem 4.25rem;
  gap: 0.938rem;
}

.bookItem {
  display: flex;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px var(--grey);
  background-color: var(--white);
  align-items: center;
  gap: 1em;
}

/* Form area */
.Line {
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px var(--grey);
  background-color: var(--grey);
  padding: 0 6.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.188rem;
  width: 98%;
}

.form-hd {
  width: 90%;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: var(--textgrey);
}

/* all inputs */
.all-inputs {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.inputTittle,
.inputCategories {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px var(--grey);
  background-color: var(--white);
  width: 40%;
  padding-left: 1em;
  color: #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
}

.catoption {
  margin-right: 0.5em;
}

button {
  border: #0290ff;
  border-radius: 3px;
  background-color: var(--azure);
  color: var(--white);
  font-family: 'Roboto Slab', serif;
}

.addbtn {
  width: 11.5rem;
  font-size: 0.813rem;
  font-weight: bold;
}

/* category page */
.statusBtn{
  padding: 6px;
  margin-left: 3rem;
  margin-top: 6rem;
}

.catHeader{
  color: var(--textgrey);
  margin-left: 3rem;
  margin-top: 6rem;
  font-weight: 300;
}